h1 {
    color: smokeywhite;
    font-size: 50px;
    text-align: center;
}

form {
    text-align: center;
}

input {

    margin-left: 50px;
    margin-top: 20px;
    width: 20%;
}

.prediction {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}