<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('https://source.unsplash.com/1600x900/? sensor , semiconductor');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main-div {
            background: linear-gradient(rgb(255, 255, 255), rgba(118, 205, 255, 0.9))
        }
    </style>
</head>

<body class="flex items-center justify-center h-screen text-white">
    <div class="main-div bg-gray-800 bg-opacity-75 rounded-xl p-10 shadow-lg text-center">
        <h1 class="text-4xl mb-4 text-blue-500">Welcome to Sensor Working Predication Model</h1>
        <p class="text-xl mb-8">Click the button below to start predicting.</p>
        <a href="/upload"
            class="px-6 py-3 bg-blue-500 text-white rounded-full transition duration-200 ease-in-out hover:bg-blue-600 transform hover:-translate-y-1 hover:scale-110">Start
            Predicting</a>
    </div>
</body>

</html>