The python latest version needs to install (above 3.9)

The library needs to install:-
1. numpy 
2. pandas
3. matplotlib.pyplot 
4. seaborn 
5. tensorflow

The Jupiter notebook needs to install by using anaconda or vscode for a better view.

